[user]
name = elxbarbosa
email = elxbarbosa@gmail.com

[core]
excludesfile = /home/elxbarbosa/.gitignore_global
editor = "emacs -nw"
autocrlf = input

[color]
ui = true

[alias]
hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
ci = commit

[credential]
helper = cache --timeout=1600

[pull]
ff = only
