[Desktop Action New]
Exec=/gnu/store/0c6qc62ydw7939gqkv1mmz6ndj34df9q-alacritty-0.9.0/bin/alacritty
Name=New Terminal

[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=/gnu/store/0c6qc62ydw7939gqkv1mmz6ndj34df9q-alacritty-0.9.0/bin/alacritty
GenericName=Terminal
Icon=Alacritty
Name=Alacritty
StartupWMClass=Alacritty
Terminal=false
TryExec=/gnu/store/0c6qc62ydw7939gqkv1mmz6ndj34df9q-alacritty-0.9.0/bin/alacritty
Type=Application
