[Desktop Entry]
Type=Application
Exec=atril
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Atril
Name=Atril
Icon=atril
Comment[en_US]=Atril Document Viewer
Comment=Atril Document Viewer
X-MATE-Autostart-Delay=0
