[Desktop Entry]
Type=Application
Exec=atril
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=reader
Name=reader
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
