[Desktop Action new-private-window]
Exec=/usr/bin/chromium-browser --incognito
Name=New Incognito Window

[Desktop Action new-window]
Exec=/usr/bin/chromium-browser
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=Access the Internet
Exec=/usr/bin/chromium-browser %U
GenericName=Web Browser
Icon=chromium-browser
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Name=Chromium Web Browser
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
