[Desktop Action Next]
Exec=clementine --next
Name=Next

[Desktop Action Pause]
Exec=clementine --pause
Name=Pause

[Desktop Action Play]
Exec=clementine --play
Name=Play

[Desktop Action Previous]
Exec=clementine --previous
Name=Previous

[Desktop Action Stop]
Exec=clementine --stop
Name=Stop

[Desktop Action StopAfterCurrent]
Exec=clementine --stop-after-current
Name=Stop after this track

[Desktop Entry]
Actions=Play;Pause;Stop;StopAfterCurrent;Previous;Next;
Categories=AudioVideo;Player;Qt;Audio;
Comment=Plays music and last.fm streams
Exec=clementine %U
GenericName=Clementine Music Player
Icon=clementine
MimeType=application/ogg;application/x-ogg;application/x-ogm-audio;audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;video/x-ms-asf;x-content/audio-player;x-scheme-handler/zune;x-scheme-handler/itpc;x-scheme-handler/itms;x-scheme-handler/feed;
Name=Clementine
StartupNotify=false
Terminal=false
TryExec=clementine
Type=Application
Version=1.0
