[Desktop Entry]
Type=Application
Exec=clementine
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Clementine
Name=Clementine
Comment[en_US]=Amarok-based Music Player
Comment=Amarok-based Music Player
X-MATE-Autostart-Delay=0
