[Desktop Entry]
Type=Application
Exec=google-chrome
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Browser
Name=Browser
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=1
