[Desktop Action new-private-window]
Exec=/gnu/store/9fw2rdc7lxkbxhd7fvq2xwfn0i22v8ni-icecat-91.9.0-guix0-preview1/bin/icecat -private-window
Name=Open a New Private Window

[Desktop Action new-window]
Exec=/gnu/store/9fw2rdc7lxkbxhd7fvq2xwfn0i22v8ni-icecat-91.9.0-guix0-preview1/bin/icecat -new-window
Name=Open a New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=GNOME;GTK;Network;WebBrowser;
Comment=Browse the World Wide Web
Exec=/gnu/store/9fw2rdc7lxkbxhd7fvq2xwfn0i22v8ni-icecat-91.9.0-guix0-preview1/bin/icecat %u
GenericName=Web Browser
Icon=icecat
Keywords=Internet;WWW;Browser;Web;Explorer
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
Name=GNU IceCat Web Browser
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-MultipleArgs=false
