[Desktop Entry]
Categories=Development;
Comment=The Collaborative API Design Tool
Exec=/opt/Insomnia/insomnia %U
Icon=insomnia
MimeType=x-scheme-handler/insomnia;
Name=Insomnia
StartupWMClass=Insomnia
Terminal=false
Type=Application
