[Desktop Entry]
Exec=/da/personal/lar/.config/autostart-scripts/kde-ssh-add
Icon=dialog-scripts
Name=kde-ssh-add
Path=
Type=Application
X-KDE-AutostartScript=true
