[Desktop Entry]
Type=Application
Exec=mate-terminal
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Term
Name=Term
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=4
