[Desktop Entry]
Type=Application
Exec=mate-terminal
Hidden=false
Name[en_US]=Mate Terminal
Name=Mate Terminal
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
