[Desktop Entry]
Exec=/da/personal/lar/.config/autostart-scripts/ssh-add.sh
Icon=dialog-scripts
Name=ssh-add.sh
Path=
Type=Application
X-KDE-AutostartScript=true
