[Desktop Entry]
Name=Eclipse Java IDE
Comment=Eclipse Java IDE
Type=Application
Encoding=UTF-8
Exec=/home/easbarba/eclipse/java-2019-06/eclipse/eclipse
Icon=/home/easbarba/eclipse/java-2019-06/eclipse/icon.xpm
Categories=GNOME;Application;Development;
Terminal=false
StartupNotify=true
